# Starter pipeline

trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'
  
- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

- task: MSBuild@1
  inputs:
    solution: '**/*.sln'

- task: SonarQubePrepare@4
  inputs:
    SonarQube: 'MyProjectServiceConnection'
    scannerMode: 'MSBuild'
    projectKey: 'test:azureProject'
    projectName: 'test:azureProject'
    extraProperties: 'sonar.cfamily.build-wrapper-output=bw_output'

- powershell: .\my-script.ps1

- task: CmdLine@2
  inputs:
    script: |
      build-wrapper-win-x86\build-wrapper-win-x86-64.exe --out-dir bw_output "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\msbuild.exe" /t:Rebuild

- task: SonarQubeAnalyze@4
