# Starter pipeline

trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:
- task: MSBuild@1
  inputs:
    solution: '**/*.sln'

- task: SonarQubePrepare@4
  inputs:
    SonarQube: 'SQLocal'
    scannerMode: 'CLI'
    configMode: 'file'

- powershell: .\my-script.ps1

- task: CmdLine@2
  inputs:
    script: |
      build-wrapper-win-x86\build-wrapper-win-x86-64.exe --out-dir build_wrapper_output_directory "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\msbuild.exe" /t:Rebuild

- task: SonarQubeAnalyze@4

- task: SonarQubePublish@4
  inputs:
    pollingTimeoutSec: '300'
